<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <style>
        div {
            width: 500px;
            max-width: 500px;
        }
    </style>
    <title>Rendering page</title>
</head>

<body>
    {% for card in cards %}
    <div>
        <table>
            <thead>
                <tr>
                    <th><img src="pic.png" height="24" onerror="this.style.display='none'" /></th>
                    <th>
                        <h2>{{ card.header }} <img src="{{ card.icon }}" height="24" /> {{
                            card.count | format_number }}</h2>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <script async src="https://telegram.org/js/telegram-widget.js?22"
            data-telegram-post="{{ channel_name }}/{{ card.id }}" data-width="100%" data-userpic="false"
            data-color="343638" data-dark-color="FFFFFF"></script>
        <h5>Made with <a href="https://github.com/mrfeod/tgdigest">https://github.com/mrfeod/tgdigest</a></h5>
    </div>
    {% endfor %}
    {% if editor_choice_id > 0 %}
    <div>
        <table>
            <thead>
                <tr>
                    <th><img src="pic.png" height="24" onerror="this.style.display='none'" /></th>
                    <th>
                        <h2>Editor's choice</h2>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <script async src="https://telegram.org/js/telegram-widget.js?22"
            data-telegram-post="{{ channel_name }}/{{ editor_choice_id }}" data-width="100%" data-userpic="false"
            data-color="343638" data-dark-color="FFFFFF"></script>
        <h5>Made with <a href="https://github.com/mrfeod/tgdigest">https://github.com/mrfeod/tgdigest</a></h5>
    </div>
    {% endif %}
</body>

</html>